<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Post</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>View Post</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <div class="individualPost">
        <a href="/posts/show/<%= post.id %>"><%= post.title %></a>
        <p><%= post.description %></p>
        <p><a href="<%= post.link %>"><%= post.link %></a></p>
        <p>Created by: <%= post.creator.uname %></p>
        <p><%= new Date(post.timestamp).toLocaleString('en-US') %></p>
        <hr/>
        <form action="/posts/comment-create/<%= post.id %>" method="POST">
          <input
            type="text"
            name="description"
            id="description"
            placeholder="Type here your comment"
          />
          <button style="width:100px; margin-left:auto">Send</button>
        </form>
        <hr/>
        <p><em><strong>Comments</strong></em>:</p>
        <% if (!post.comments || post.comments.length === 0) { %>
          <p>No comments for this post yet.</p>
        <% } else { %>
          <% post.comments.forEach(comment => { %>
            <form action="/posts/comment-delete/<%= post.id %>" method="POST">
              <input
                type="hidden"
                name="id"
                value="<%= comment.id %>"
              />
              <label for="description">Description: </label>
              <input
                type="text"
                name="description"
                id="description"
                value="<%= comment.description %>"
                readonly
                style="border:transparent"
              />
              <label for="creator">Created By: </label>
              <input
                type="text"
                name="user"
                id="user"
                value="<%= comment.creator.uname %>"
                readonly
                style="border:transparent"
              />
              <label for="date">Date: </label>
              <input
                type="datetime"
                name="date"
                id="date"
                value="<%= new Date(comment.timestamp).toLocaleString('en-US') %>"
                readonly
                style="border:transparent"
              />
              <% if (user && user.uname === comment.creator.uname) { %>
                <button
                  type="submit"
                  style="width:100px; margin-left:auto; background-color:red"
                >
                Delete
                </button>
              <% } %>
            </form>
            <hr />
          <% }) %>
        <% } %>
      </div>
    </main>
  </body>
</html>