<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Homepage</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Homepage</h1>
        <% if (!user) { %>
        <a role="button" href="/auth/login">Login</a>
        <% } else { %>
        <a role="button" href="/auth/logout">Logout</a>
        <% } %>
      </div>
      <h2>Welcome, <%= user?.uname || "Visitor" %>.</h2>
      <div>
        <p>All Posts</p>
        <% for (let post of posts) { %>
          <div class="individualPost">
            <a href="/posts/show/<%= post.id %>"><%= post.title %></a>
            <p><%= post.description %></p>
            <p>Created by: <%= post.creator.uname %></p>

            <% if(user && user.uname === post.creator.uname){ %>
              <a role="button" style="background-color:coral" href="/posts/edit/<%= post.id %>">Edit Post</a>
              <a role="button" style="background-color:red" href="/posts/deleteconfirm/<%= post.id %>">Delete Post</a>
            <% } %>
            <hr>
          </div>
        <% } %>

      <div>
        <a href="/subs/list">Subgroups</a>
        <hr>
      </div>

      <div>
        <% if(user) {%>
          <a role="button" href="/posts/create">Create Post</a>
          <p style="color: rgb(197, 172, 172)">
            😦 Heads up...you probably want to hide the Create Post button above for
            non-logged-in users!
          </p>
        <% } %>
      </div>
    </main>
  </body>
</html>
