<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Sub posts</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Sub Posts</h1>
        <a role="button" href="/posts">Home</a>
      </div>
      <!-- check if there's any group within the subgroup -->
      <% if (posts && posts.length > 0) { %>
        <% for (let post of posts) { %>
          <div class="individualPost">
            <!-- comments must have description, creator, and timestamp -->
            <a href="/posts/show/<%= post.id %>"><%= post.title %></a>
            <p><%= post.description %></p>
            
            <!-- only users allowed to vote and comment -->
            <% if (user) { %>
              <form action="/posts/vote/<%= post.id %>" method="POST" class="voteForm">
                <button
                  class="voteButton upvote"
                  name="setvoteto"
                  value="1"
                  type="submit"
                  <% for (let vote of post.votes) { %>
                    <% if (vote.user_id === user?.id && vote.value === 1) { %>
                      disabled
                    <% } %>
                  <% } %>
                >
                  👍
                </button>
                <button
                  class="voteButton downvote"
                  name="setvoteto"
                  value="-1"
                  type="submit"
                  <% for (let vote of post.votes) { %>
                    <% if (vote.user_id === user?.id && vote.value === -1) { %>
                      disabled
                    <% } %>
                  <% } %>
                >
                  👎
                </button>
              </form>
              <!-- display total number of votes per post -->
              <% let totalVotes = 0; %>
              <% for (let vote of post.votes) { %>
                <% totalVotes += vote.value; %>
              <% } %>
              <p>Total Votes: <%= totalVotes %></p>
            <% } %>
            <hr>
          </div>
        <% } %>
      <% } %>
    </main>
  </body>
</html>
